*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Admin */

.link-active {
  color: #4b70e2;
  border: solid green 2px;
  width: fit-content;
  border-radius: 5px;
  padding: 2px;
}
.link-inactive {
  color: rgb(97, 97, 97);
}

